body{
    display: flex;
    justify-content: center;
    border: 2px blue dotted;
    flex-wrap: wrap;
}
header, nav, main, footer{
    border: 2px red dotted;
    width: 100%;
    height: 100px;
}
header, nav{
    height: 40px;

}
main{
    height: auto;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
section{
    border: solid 1px green;
}
.jc{
   
    width: 300px;
    height: auto;
    padding: .5rem;
    display: flex;
    flex-wrap: wrap;
}
section p{
    width: 100%;
}
article{
    border: 1px dashed orange;
    width: 50px;
    height: 50px;
    border-radius: 0.5rem;
    background-color: blanchedalmond;
    margin: 0.5px;
}
#sec_one{
    justify-content: flex-start;
}
#sec_two{
    justify-content: flex-end;
}
#sec_three{
    justify-content: center;
}
#sec_four{
    justify-content: space-around;
}
#sec_five{
    justify-content: space-between;
}
#sec_six{
    justify-content: space-evenly;
}